*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #fafafa;
    color: #333;
    font-family: 'Roboto', sans-serif;
}

header {
    display: flex;
    justify-content: center;
    margin: 3em;
}

header h1 {
    font-size: 2.3rem;
    letter-spacing: 0.25rem;
}

main.carousel-container {
    margin: 0 auto;
    position: relative;
    width: 800px;
    height: 600px;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, .6);
}

button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    cursor: pointer;
    z-index: 1;
}

button img {
    width: 35px;
}

button.previous {
    left: -7%;
}

button.next {
    right: -7%;
}

.slider {
    display: flex;
    width: 800px;
    height: 600px;
    overflow-x: hidden;
    list-style-type: none;
}

.slide {
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: none;
}

.slide.active {
    display: block;
    animation: fadeIn 310ms ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.slide:nth-child(1) {
    background-image: url(images/mountain-lake.jpg);
}

.slide:nth-child(2) {
    background-image: url(images/hiking.jpg);
}

.slide:nth-child(3) {
    background-image: url(images/desert.jpg);
}

.slide:nth-child(4) {
    background-image: url(images/cliff.jpg);
}

.slide:nth-child(5) {
    background-image: url(images/beach.jpg);
}